html,
  body {
    background-color: var(--color-gray-100);
  }

.cor-de-fundo {
    color: #0f3e35
}
.white {
    color: #f2f0e9
}

.lavanda {
    color: #a18cc0
}

.slogan {
    color: #d8d3e7
}
