 .icon.is-large {
     background-color: #f1eaf9;
     border-radius: 50%;
     width: 80px;
     height: 80px;
     display: inline-flex;
     align-items: center;
     justify-content: center;
 }

 .icon {
     color: #7435c1 !important;
 }